.desktop-view .timeline-controls {
  flex-wrap: wrap;
  & > button {
    margin-right: 0.5em;
    margin-bottom: 0.5em;
  }
}
#topic-progress-wrapper {
  .topic-OP-admin-menu-button {
    height: 100%;
  }
}
table.topic-OP-admin-banned-users {
  color: var(--primary-high);
  tr {
    padding: 10px;
  }
  td {
    padding: 0.5em 1em 0.5em 0;
  }
  .bannedd-user a {
    margin-right: 5px;
  }
}
.topic-OP-banned-users-container {
  max-height: 500px;
  overflow-y: auto;
}
.topic-op-silence-time {
  width: 100% !important;
  margin-bottom: 0 !important;
}
.topic-op-make-silence-user {
  width: 100% !important;
}
table.topic-OP-admin-banned-users.new-ban td {
  width: 60%;
}
.mobile-view {
  table.topic-OP-admin-banned-users td.operation {
    padding: 0;
  }
  .topic-OP-admin-banned-users.new-ban .select-kit-body {
    width: 350px !important;
  }
  .topic-OP-admin-unmute-button {
    padding: 0.5em;
    .d-icon {
      margin-right: 0;
    }
    .d-button-label {
      display: none;
    }
  }
}
